body { background-color: #2E9AFE; }
form {
	background: #fff;
	height: 400px;
	width: 20%;
	border: 1px solid #ccc;
	margin: 20px;
	padding: 20px;
	border-radius: 15px 15px 15px 15px;

}


label {
	font-size: 12px;
	display: block;
	width:100%;
	color:#2E9AFE;
	
}


input {

	margin-bottom: 20px;
	width: 100%;
	padding: 10px;
	box-sizing: border-box;
	color:#2E9AFE;

}

input[type="text"]{
	
	color: #4A88F4;
	border: 3px solid #2E9AFE;
  	border-radius: 20px 20px 20px 20px;

}

input[type="password"]{
	
	color: #4A88F4;
	border: 3px solid #2E9AFE;
  	border-radius: 20px 20px 20px 20px;

}

input[type="submit"]{
	margin-bottom:0;
	background: #2E9AFE;
	color: #fff;
	border-radius: 20px 20px 20px 20px;

}

input[type="submit"]:hover {
	background: #4A88F4;
	cursor:pointer;

}
 
 a{
 	font-size: 10px;
 	color:#000;
 	text-decoration:none;
 	margin:100px 20px 10px 0px;
 }

 a:link{
 	color:#2E9AFE;
 }


